.header-container {
  height: 10vh;
  border: 3px solid #334155;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .header-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.header {
  color: hsl(206, 56%, 22%);
  font-size: 15px;
  font-weight: 600;
  font-family: 'Roboto';
}
@media screen and (min-width: 768px) {
  .header {
    font-size: 25px;
  }
}

.second-container {
  display: flex;
  flex-direction: row;
}

.mobile-tab-button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.text {
  font-family: 'Roboto';
  font-size: 11px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.35555556416511536px;
  color: #334155;
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .text {
    font-size: 16px;
  }
}
